{% block twohats_author_list %}
    <sw-page class="twohats-author-list">

        {% block twohats_blog_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                    initial-search-type="Authors"
                    :placeholder="$tc('sw-property.general.placeholderSearchBar')"
                    :initial-search="term"
                    @search="onSearch"
                    />
            </template>
        {% endblock %}

        <template #content>

            {% block twohats_author_list_content %}
                <div class="twohats-author-list__content">

                    {% block twohats_author_list_grid %}
                        <sw-entity-listing
                            v-if="entitySearchable"
                            ref="propertyList"
                            class="twohats-author-list-grid"
                            :items="authors"
                            :columns="getAuthorColumns()"
                            :repository="authorRepository"
                            :show-selection="false"
                            :show-settings="true"
                            :full-page="true"
                            :sort-by="currentSortBy"
                            :sort-direction="sortDirection"
                            :is-loading="isLoading"
                            :allow-column-edit="true"
                            :compact-mode="false"
                            :allow-edit="acl.can('blog.editor')"
                            :allow-delete="acl.can('blog.deleter')"
                            :allow-inline-edit="acl.can('blog.editor')"
                            identifier="twohats-author-list"
                            :disable-data-fetching="true"
                            @column-sort="onSortColumn"
                            @page-change="onPageChange"
                            >


                            {% block twohats_author_list_grid_columns_actions %}
                                <template
                                    #actions="{ item }"
                                    >
                                    {% block twohats_author_list_grid_columns_actions_detail %}
                                        <sw-context-menu-item
                                            class="twohats-author-list__edit-action"
                                            :router-link="{ name: 'twohats.author.detail', params: { id: item.id } }"
                                            :disabled="!acl.can('blog.editor')"
                                            >
                                            {{ $tc('twohats-author.page.list.contextMenuView') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block twohats_author_list_grid_columns_actions_delete %}
                                        <sw-context-menu-item
                                            class="twohats-author-list__delete-action"
                                            variant="danger"
                                            :disabled=" !acl.can('blog.deleter')"
                                            @click="onDelete(item.id)"
                                            >
                                            {{ $tc('twohats-author.page.list.contextMenuDelete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        </sw-entity-listing>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
