{% block sw_cms_el_preview_twohats_blog %}
    <div class="sw-cms-el-preview-twohats-blog">
        <img class="sw-cms-el-preview-twohats-blog-img"
             :src="'twohatsblogmodule/static/img/blog.png' | asset">

        <sw-icon class="sw-cms-el-preview-twohats-blog-icon"
                 name="multicolor-action-play"></sw-icon>
    </div>
{% endblock %}